<nav class="navbar navbar-expand navbar-light navbar-bg" id="nav-admin">
	<a class="sidebar-toggle js-sidebar-toggle"> <i
		class="hamburger align-self-center"></i>
	</a>

	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			<li class="nav-item dropdown"><a
				class="nav-icon dropdown-toggle" href="#" id="alertsDropdown"
				data-bs-toggle="dropdown">
					<div class="position-relative">
						<i class="align-middle" data-feather="bell"></i> <span
							class="indicator" th:text="${quantityPending}">4</span>
					</div>
			</a>



			<li class="nav-item dropdown"><a
				class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
				data-bs-toggle="dropdown"> <i class="align-middle"
					data-feather="settings"></i>
			</a> <a class="nav-link dropdown-toggle d-none d-sm-inline-block"
				th:object="${user}" href="#" data-bs-toggle="dropdown"> <img
					th:src="@{/admin/img/avatars/__${session.user.getImage()}__}"
						class="avatar img-fluid rounded me-1" alt="Not logged in"
						onerror="this.style.display = 'none';" /> <span
					class="text-dark" th:text="${session.user.getName()}"></span>
			</a>
				<div class="dropdown-menu dropdown-menu-end">

					<a class="dropdown-item"  th:href="@{/shoeshop/log-out}" >Log out</a>
				</div></li>
		</ul>
	</div>
</nav>