<div action="" class="ThuongHieuNoiTieng container mt-5 text-center ">
      <h1 ># <span th:text="#{Famous_brand}"></span> </h1>
      <h6 class="text-secondary col-sm-12" th:text="#{slogan_famousBrand}">Chúng tôi luôn đem đến khách hàng những thương hiệu hàng đầu thế giới</h6>
      <br>
      <div class="row mt-3">
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img  th:src = "@{/images/logoNike.png}"  width="92px" height="50px" class="IMGTHNT"><br>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img   th:src = "@{/images/logoConverse.png}"  width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img   th:src = "@{/images/logoD&G.jpg}"  width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img   th:src = "@{/images/AZHA_Logo_A.svg}"  width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img   th:src = "@{/images/logobitisHunter.png}"  width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating1 mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img  th:src = "@{/images/logoHolister.png}"  width="92px" height="50px">
          </a>
        </div>
      </div>
    </div>