<div action="" class="formDanhMuc container mt-5 text-center ">

      <div class="row mt-3">
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2" >
          <a href="" class="fontDM">
            <img th:src = "@{/icons/icons8_collectibles.ico}" class="imgDM"><br>
            <h3 th:text="#{collection}">Bộ sưu tập</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img th:src = "@{/icons/icons8_boots_48.png}"  class="imgDM"><br>
            <h3 th:text="#{collection}">Boot</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img  th:src = "@{/icons/icons8_womens_shoe_48.png}" class="imgDM"><br>
            <h3 th:text="#{collection}">Cao gót</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img  th:src = "@{/icons/icons8_trainers_48.png}"   class="imgDM"><br>
            <h3 th:text="#{collection}">Thể thao</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img  th:src = "@{/icons/icons8_vegan_shoes_48.png}"  class="imgDM"><br>
            <h3 th:text="#{collection}">Đế gỗ</h3>
          </a>
        </div>
        <div class="form-floating1 mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img  th:src = "@{/icons/icons8_Sneakers_48.png}"  class="imgDM"><br>
            <h3 th:text="#{collection}">Sneakers</h3>
          </a>
        </div>
      </div>
    </div>