<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="offcanvas offcanvas-end" id="GioHang">
		<div class="offcanvas-header ">
			<h4 style="margin-left: 120px;">
				Giỏ hàng <i class="fa-solid fa-basket-shopping fa-xs"></i>
			</h4>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>

		</div>


		<i class="fa-solid fa-minus fa-2xl text-center mb-2"></i>
		<div class="offcanvas-body text-center text-secondary  " >
			<div class="table-responsive" style="overflow-x: hidden; max-height: 300px; overflow-y: auto;" >
			<table class="table  text-start col-lg-12 col-sm-12">
				<thead >
					<tr th:each="item, iStat: ${cart}">
						<td scope="col"><img th:src="@{/images/product-images/__${item.detailedImages[0].mainImage}__}"  alt="Image" height="90px"></td>
							
						<td scope="col mx-auto">
							<h6 class="text-truncate"
								style="font-weight: bold; max-width: 150px; margin-bottom: -20px;"
								th:text="${item.name}"></h6>
								 <br> 
								 <i>Màu sắc: cam</i> | <i>Size:
								39</i> <br> <i>1 x
								 <i class="text-danger"
								th:text="${item.price}"></i> VND</i>
						</td>
						<td scope="col">
						    <a th:href="@{/shoeshop/remove(productId=${item.id})}">
						        
						        <i class="fa-regular fa-circle-xmark fa-lg" style="margin-bottom: 35px; margin-right: 100px;"></i>
						    </a>
						</td>

					</tr>
					<tr id="emptyCartRow" th:if="${#lists.isEmpty(cart)}"class="text-secondary text-center">
						      <td colspan="6" >Trong giỏ hàng chưa có sản phẩm.</td>
						    </tr>

				</thead>
			</table>
			</div>
			<!-- Tạm tính  -->
			<div class="">
			    <h6 class="text-dark fw-bold">
			        Tổng tiền  : <span class="text-danger" th:text="${totalAmount}"></span> <label class="text-danger">VND</label>

			    </h6>
			</div>
			<hr>
			<!-- button thanh toán -->
			<a th:href="@{/shoeshop/cart/view}">
    <button th:if="${not #lists.isEmpty(cart)}" 
            style="background-color: #232946; color: white;" 
            type="button" class="btn col-md-12 text-center">Giỏ hàng</button> <br>
</a>
<br>
			<a th:href="@{/shoeshop/thanhtoan}">
  <!--   <button th:if="${not #lists.isEmpty(cart)}" 
            style="background-color: #232946; color: white;" 
            type="button" class="btn col-md-12 text-center">Thanh toán</button> <br>
--> 
</a>
		</div>
	</div>
	<script>
		/*<![CDATA[*/
		// Check if the addedItem is not empty
		var addedItem = /*[[${addedItem}]]*/null;
		if (addedItem) {
			// Show the modal
			$('#modalCart').modal('show');
		}
		/*]]>*/
	</script>
	

</body>
</html>