@charset "UTF-8";
.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	z-index: 9999;
}

.dialog-content {
	border-radius: 10px;
	font-weight: bolder;
	color: white;
	background-color: #429A43;
	margin: 20px;
	padding: 10px;
	padding-top: 25px;
	max-width: 1000px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: white;
}

.dialog-content-failed {
	border-radius: 10px;
	font-weight: bolder;
	color: white;
	background-color: #FF0000;
	margin: 20px;
	padding: 10px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	max-width: 1000px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: white;
}