<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" th:href="@{/icons/logoMain_48.png}" type="image/x-icon">
<head>
<title>Shop Giày thể thao</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link th:href="@{/css/item.css}" href="/css/item.css" rel="stylesheet"
	type="text/css" media="all" />
<link th:href="@{/css/index.css}" href="/css/index.css" rel="stylesheet"
	type="text/css" media="all" />
<link th:href="@{/fonts/fontawesome-free-6.4.0-web/css/all.css}"
	href="/fonts/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet"
	type="text/css" media="all" />

</head>

<body>
	<header>
		<!-- place navbar here -->
		<div  th:replace="layout/nav ::  #nav"></div>


		<!-- Hộp thoại giỏ hàng -->
		<!-- 	<div   th:replace="_modals :: modal('modalCart')" ></div> -->
		
		<div th:replace="modal/modalCart.html :: #GioHang"></div>
		<div th:replace="modal/modalSeach.html :: #myModalSeach"></div>
		
		

	</header>
	<main>
		<!-- casrousel -->
		<div th:replace="layout/casrousel.html"></div>

		<!-- Mục sản phẩm -->
		<div th:replace="layout/productPortfolio.html"></div>

		<!-- Sản phẩm bán chạy nhất -->
		 <div th:replace="layout/itemBanChayNhat.html"></div> 

		<!-- Sản phẩm mới về -->
		<div th:replace="layout/ItemMoiVe.html"></div>
		
		

		<!-- Thương hiệu nổi tiếng -->
		<div th:replace="layout/famousBrand.html"></div>

	</main>
	<!-- Footer -->
	<div th:replace="layout/footer ::  footer"></div>
	<!-- Footer -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
  <script>



    const navLinks = document.querySelectorAll('.nav-link');
    navLinks.forEach(navLink => {
      navLink.addEventListener('click', () => {
        navLinks.forEach(link => link.classList.remove('active'));
        navLink.classList.add('active');
      });
    });
    
    $(document).ready(function() {
        $('#GioHang').click(function() {
            $(this).removeClass('fa-basket-shopping').addClass('fa-check');
        });
    });
    
    /* hiển thị hộp thoại tìm kiếm */
    $(document).ready(function() {
            $('#searchButton').click(function() {
                $('#searchInput').toggle();
            });
        });
  </script>
 
<script th:inline="javascript">
    /*xử lý khi load lại thì hiển thị alert */
    var successMessage = /*[[${session.successMessage}]]*/ null;
    
    if (successMessage !== null) {
        alert(successMessage);
        
        // Gửi Ajax request để xóa thông báo từ session
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear-success-message', true);
        xhr.send();
    }
    /* ]]> */
    
    /*<![CDATA[*/
   
</script>

	
	
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
    </script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
    </script>

	
</body>

</html>

